.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  padding: 1rem;
}

button {
  margin: 0 auto !important;
}

.search-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.search-area input {
  width: 20vw;
  margin: 40px auto;
}
